.vs/
MyCarAPI/bin/
MyCarAPI/obj/
WebApp/obj/
WebApp/bin/
WebApp/Pages/
WebApp/wwwroot/lib/
Delegates/bin/
Delegates/obj/
WebApplication_Razor/bin/
WebApplication_Razor/obj/
WebApplication_Razor/wwwroot/
MVCFriends/bin/
MVCFriends/obj/project.nuget.cache
MVCFriends/obj/
MVCFriends/wwwroot/
WebApplicationMVC/bin/
WebApplicationMVC/obj/
WebApplicationMVC/wwwroot/
WebApplicationMVC/
WebApplicationMVCFriends/
