@page
@model IndexModel
@{
    ViewData["Title"] = "About me";
}

<div class="text-lg-end">
    <h1 class="display-4">Hi, Boss</h1>
    <p> The link to my GitHub is <a href="https://github.com/NataliaMilgevskaya/MyCarAPI">HERE</a>.</p>
    <p> The link to Kristina's GitHub is <a href="https://github.com/KrystynaHurieieva">HERE</a>.</p>
</div>
<div class="text-center">
    <h1>
        About me
    </h1>
</div>
<div>
    <p>Hi! My my collegs call me Natalia Em 'cause I've got very long surname. We've got two beatutiful boys full of energy and fun</p>
</div>
